<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un enlace para cambiar tu contraseña. Puedes hacerlo a través del siguiente enlace.</p>

<%= link_to 'Cambiar mi contraseña', edit_password_url(reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s) %>

<p>Si no lo has solicitado, por favor ignora este correo electrónico.</p>
<p>Tu contraseña no será cambiada hasta que accedas al enlace y crees una nueva.</p>